*
{
    margin: 0;
    padding: 0;
}
.button
{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #607d8b;
    border: none;
    color: white;
}
.textview
{
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    box-shadow: rgba(22, 22, 22, 0.842) 2px 2px 10px;
}
.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
    animation: animated 3s;
}
.bg
{
    background: linear-gradient(to right, #424040, #3349c4);
    height: 100%;
}
@keyframes animated
{
    0%
    {
        left: 0%;
        transform: scale(0.2);
        opacity: 0.2;
    }
    50%
    {
        left: 30%;
        opacity: 0.5;
        transform: scale(0.5);
    }
    100%
    {
        left: 50%;
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}